<head>
<link rel="stylesheet" href="stles.css">
</head>

.grid-container{
  display: grid;
  grid-template-columns: 600px 360px
  grid-template-rows: auto;
  grid-template-areas:'header' 'main right' 'footer'
}

.header{
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

header {
  color: #FFFFFF;
  background: #63B3ED;
  text-align: center;
  padding: 15px;
}

h1{
  font-size: 36px;
  font-family: sans-serif;
}

.line-statement{
  color: #FFFFFF;
}

h2{
  font-size: 32px;
  color: #48BB78;
}

h3{
  color: #48BB78;
}

.about-text{
  color: #000000;
}

.deron {
  width:150px;
  height: 153px;
  border-radius: 50%;
}

article{
  float:left;
  width: 50%;
  margin-left: 5%
}

/*.firstblog {
  float: left;
  width: 60%;
  margin-right: 5%;
}
*/

p{
  font-size: 18px;
  color: #2D3748;
  font-family:sans-serif;
}

.meditation{
  width:150px;
  height: auto;
  float: left;
  margin: 0 10px 10px 0;
}
/*

.secondblog {
  float: left;
  width: 60%;
  margin-right: 5%;
}
*/
.meds{
  width: 150px;
  height: auto;
  float: right;
  margin: 0 10px 10px 0;
}

.date-author{
  color: #718096;
}

.about{
  float: right;
  width: 30%;
  background-color: #E2E8F0;
  margin-right: 5%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.socials-archives{
  float: right;
  width: 36%;
}

ul{
  list-style-type: none;

}

a:link {
  color:#4299E1;
  background-color: transparent;
  text-decoration: none;
}


.footer-notes{
  color: #FFFFFF;
}

footer{
  clear: both;
  background: #2C5282;
  color: #FFFFFF;
  padding: 10px;
}
